# Gradle 빌드 폴더
/build/
/out/

# IntelliJ IDEA 관련 파일
/.idea/
/*.iml
*.iws
*.ipr

# OS 관련 파일
.DS_Store
Thumbs.db

# Gradle 캐시
.gradle/

# 로그 파일
*.log

# 컴파일된 클래스 파일
*.class

# 애플리케이션 프로퍼티 파일 중 민감 정보 제외용
src/main/resources/application.properties

# 환경에 따라 제외할 파일 (예: local properties)
/local.properties
